{% extends "layouts/base.html" %}

{% block title %} Tabelas {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Produtos</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tabela</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Produto</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Lista de Produtos</h4>
                            <button class="btn btn-round ml-auto" style="color: #007bff;" data-toggle="modal" data-target="#addRowModal">
                                <i class="fa fa-plus"></i>
                                Adicionar
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
												<span class="fw-mediumbold">
												Inserir</span>
                                            <span class="fw-light">
													Produto
												</span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="small">Adicione os dados de cadastro do produto</p>
                                        <form id="addProductForm" method="POST" action="/produtos/criar" enctype="multipart/form-data">
                                            <div class="row">
                                                <!-- Imagem -->
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Image URL</label>
                                                        <input id="addProductImage" name="image" type="file" class="form-control" required>
                                                    </div>
                                                </div>
                                                <!-- Campo de nome do produto -->
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Nome</label>
                                                        <input id="addProductName" name="title" type="text" class="form-control" placeholder="Nome Produto" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Preço</label>
                                                        <input id="addProductPrice" name="price" type="number" class="form-control" placeholder="Preço" required>
                                                    </div>
                                                </div>
                                                <!-- Categoria -->
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Categoria</label>
                                                        <select id="addProductCategory" name="category" class="form-control" required>
                                                            <option value="women's clothing">Women's Clothing</option>
                                                            <option value="men's clothing">Men's Clothing</option>
                                                            <option value="electronics">Electronics</option>
                                                            <option value="jewelry">Jewelry</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- Classificação -->
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Classificação</label>
                                                        <input id="addProductRatingRate" name="rating_rate" type="number" class="form-control" placeholder="Classificação" required>
                                                    </div>
                                                </div>
                                                <!-- Avaliações -->
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Avaliações</label>
                                                        <input id="addProductRatingCount" name="rating_count" type="number" class="form-control" placeholder="Avaliação" required>
                                                    </div>
                                                </div>
                                                <!-- Descrição -->
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Descrição</label>
                                                        <textarea id="addProductDescription" name="description" class="form-control" placeholder="Descrição do produto" required></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer no-bd">
                                        <button type="button" id="addRowButton" class="btn btn-round ml-auto" style="color: #05e518;">Criar</button>
                                        <button type="button" class="btn btn-round ml-auto" style="color: #ff0000;" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="basic-datatables" class="table table-striped table-hover table-bordered align-middle">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="sorting_asc table-header" tabindex="0" >Imagem</th>
                                    <th class="sorting_asc table-header" tabindex="0"  rowspan="1" colspan="1" aria-label="Age: activate to sort column descending" aria-sort="ascending">Produto</th>
                                    <th class="sorting_asc table-header" tabindex="0"  rowspan="1" colspan="1" aria-label="Age: activate to sort column descending"  aria-sort="ascending">Preço</th>
                                    <th class="sorting_asc table-header" tabindex="0"  rowspan="1" colspan="1" aria-label="Age: activate to sort column descending"  aria-sort="ascending">Categoria</th>
                                    <th class="sorting_asc table-header" tabindex="0"  rowspan="1" colspan="1" aria-label="Age: activate to sort column descending"  aria-sort="ascending">Classificação</th>
                                    <th class="sorting_asc table-header" tabindex="0"  rowspan="1" colspan="1" aria-label="Age: activate to sort column descending"  aria-sort="ascending">Avaliações</th>
                                    <th class="sorting_asc table-header" tabindex="0"  rowspan="1" colspan="1" aria-label="Age: activate to sort column descending"  aria-sort="ascending">Descrição</th>
                                    <th class="sorting_asc table-header" tabindex="0"  >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if products %}
                                {% for product in products %}
                                <tr>
                                    <td class="column-actions">
                                        <img src="{{ product.image }}" class="avatar avatar-sm rounded-circle" alt="{{ product.image }}">
                                    </td>
                                    <td class="column-product-name">
                                        <span class="product-title" title="{{ product.title }}">{{ product.title }}</span>
                                    </td>
                                    <td class="column-actions">R${{ product.price }}</td>
                                    <td class="column-product">
                                        <span class="product-title" title="{{ product.category }}">{{ product.category }}</span>
                                    </td>
                                    <td class="column-rating align-middle text-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <span class="me-2 text-xs font-weight-bold">{{ product.rating_rate }} / 5</span>
                                            <div class="progress w-75">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" style="width:{{ product.rating_rate * 20}}%;"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="column-product-name">{{ product.rating_count }}</td>
                                    <td class="column-product-name">
                                        <span class="product-title" title="{{ product.description }}">{{ product.description }}</span>
                                    </td>

                                    <td class="column-actions">
                                        <div class="form-button-action d-flex justify-content-around align-items-center">
                                            <a class="btn-sm me-2" title="Alterar preço" onclick="editProductPrice('{{ product.id }}', '{{ product.price }}')">
                                                <i class="fas fa-edit fa-sm" style="color: #007bff;"></i>
                                            </a>
                                            <a
                                                    type="button"
                                                    data-toggle="tooltip"
                                                    class="btn btn-link btn-danger"
                                                    data-original-title="Excluir"
                                                    value="{{ product.id }}"
                                                    onclick="showSweetAlert('Desativar Produto?', 'Você tem certeza que quer desativar este produto?', 'Sim, Desativar', 'Manter ativo', '/produtos/{{ product.id }}/excluir')">
                                                <i class="fa fa-times fa-sm"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="7" class="text-center">Nenhum produto encontrado.</td>
                                </tr>
                                {% endif %}
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<style>
    .column-actions {
        max-width: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .column-product-name {
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .column-rating {
        max-width: 150px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .table-header th {
        font-size: 12px;
        text-align: center;
    }
</style>

<script src="/assets/js/settings.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function showSweetAlert(title, text, confirmText, cancelText, formActionUrl) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: confirmText,
            cancelButtonText: cancelText,
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-round ml-auto btn-success',
                cancelButton: 'btn btn-round ml-auto btn-danger'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Desativando...',
                    icon: 'info',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    didOpen: () => {
                        Swal.showLoading();
                        var form = document.createElement('form');
                        form.method = 'POST';
                        form.action = formActionUrl;

                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            } else {
                Swal.fire({
                    title: 'Ação cancelada!',
                    icon: 'info',
                    confirmButtonText: 'OK',
                    customClass: {
                        confirmButton: 'btn btn-round ml-auto btn-success'
                    }
                });
            }
        });
    }
    function editProductPrice(productId, currentPrice) {
        Swal.fire({
            title: 'Alterar Preço',
            html: '<br><input class="form-control" placeholder="Novo Preço" id="price-input" value="' + currentPrice + '">',
            buttonsStyling: false,
            confirmButtonText: 'Salvar',
            cancelButtonText: 'Cancelar',
            showCancelButton: true,
            customClass: {
                confirmButton: 'btn btn-round ml-auto btn-success',
                cancelButton: 'btn btn-round ml-auto btn-danger'
            },
            preConfirm: () => {
                const newPrice = document.getElementById('price-input').value;
                if (!newPrice || isNaN(newPrice) || newPrice <= 0) {
                    Swal.showValidationMessage('Por favor, insira um preço válido.');
                    return false;
                }
                return newPrice;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const newPrice = result.value;

                fetch(`/produtos/${productId}/alterar-preco`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ price: newPrice })
                })
                    .then(response => response.json())
                    .then(data => {
                        Swal.fire({
                            title: 'Preço atualizado!',
                            text: 'O preço foi atualizado para R$' + newPrice,
                            icon: 'success',
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'btn btn-round ml-auto btn-success'
                            }
                        }).then(() => {
                            window.location.reload();
                        });
                    })
                    .catch(error => {
                        Swal.fire({
                            title: 'Erro!',
                            text: 'Ocorreu um erro ao atualizar o preço.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'btn btn-round ml-auto btn-danger'
                            }
                        });
                    });
            }
        });
    }
</script>
<script src="/static/assets/js/settings.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#basic-datatables').DataTable({
            "order": [[6, 'asc']],
            "columnDefs": [
                { "orderable": true, "targets": [6] }
            ]
        });

        $('#addRowButton').click(function(event) {
            event.preventDefault();

            var form = document.getElementById('addProductForm');
            var formData = new FormData(form);

            fetch('/produtos/criar', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        table.row.add([
                            $("#addProductName").val(),
                            $("#addProductPrice").val(),
                            $("#addProductCategory").val(),
                            '<img src="' + $("#addProductImage").val() + '" class="avatar avatar-sm rounded-circle">',
                            $("#addProductRatingRate").val(),
                            $("#addProductRatingCount").val(),
                            $("#addProductDescription").val()
                        ]).draw(false);

                        Swal.fire({
                            title: 'Produto criado!',
                            icon: 'success',
                            confirmButtonText: 'OK',
                        }).then(() => {
                            $('#addRowModal').modal('hide');
                        });
                    } else {
                        Swal.fire({
                            title: 'Erro!',
                            text: data.message,
                            icon: 'error',
                            confirmButtonText: 'OK',
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error); // Log the error to the console
                    Swal.fire({
                        title: 'Erro!',
                        text: 'Ocorreu um erro ao adicionar o produto.',
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                });
        });
    });

</script>

{% endblock javascripts %}
