{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Alterar Senha {% endblock title %}

{% block content %}
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                {% include "includes/navigation-fullscreen.html" %}
            </div>
        </div>
    </div>
    <main class="main-content mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient">Trocar Senha</h3>
                                    <p class="mb-0">
                                        {% if msg %}
                                            <span class="text-danger">{{ msg | safe }}</span>
                                        {% else %}
                                            Por favor, insira as informações para trocar sua senha
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="card-body">

                                    <form role="form text-left" method="post" action="{{ url_for('authentication_blueprint.change_password') }}">
                                        {{ form.hidden_tag() }}

                                        <label>Senha Atual</label>
                                        <div class="mb-3">
                                            {{ form.current_password(placeholder="Senha Atual", class="form-control", type="password") }}
                                        </div>

                                        <label>Nova Senha</label>
                                        <div class="mb-3">
                                            {{ form.new_password(placeholder="Nova Senha", class="form-control", type="password") }}
                                        </div>

                                        <label>Confirmar Nova Senha</label>
                                        <div class="mb-3">
                                            {{ form.confirm_new_password(placeholder="Confirmar Nova Senha", class="form-control", type="password") }}
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" name="change_password" class="btn bg-gradient-info w-100 mt-4 mb-0">Trocar senha</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{{ config.ASSETS_ROOT }}/img/curved-images/curved11.jpg')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "includes/footer-fullscreen.html" %}
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        document.getElementsByTagName('form')[0].onsubmit = (e) => {
            e.preventDefault();

            const formData = new FormData(e.target);
            const currentPassword = formData.get('current_password');
            const newPassword = formData.get('new_password');
            const confirmNewPassword = formData.get('confirm_new_password');

            if (newPassword !== confirmNewPassword) {
                alert("As senhas não coincidem!");
                return;
            }

            // Get the CSRF token from the hidden input field
            const csrfToken = document.querySelector('input[name="csrf_token"]').value;

            fetch('/change-password/', {
                method: 'POST',
                body: JSON.stringify({
                    current_password: currentPassword,
                    new_password: newPassword
                }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,  // Add CSRF token to the headers
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
            })
            .then((response) => response.json())
            .then((res) => {
                if (res.success) {
                    alert('Senha alterada com sucesso!');
                    window.location.href = '/login';
                } else {
                    alert(res.message || 'Erro ao trocar senha');
                }
            })
            .catch((err) => {
                console.log(err);
                alert('Erro ao comunicar com o servidor.');
            });
        };
    </script>

{% endblock javascripts %}
